<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CampusCare Dashboard</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body class="dashboard-body">
  <div class="dashboard-container">
    <h1 class="dashboard-title">CampusCare</h1>

    <div class="dashboard-buttons">
  <a href="/register_complaint"><button class="tab-button">Register Complaint</button></a>
  <a href="/show_complaints"><button class="tab-button">Show Complaints</button></a>
</div>

  </div>
</body>
</html>
